<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '<?php echo $this->appId;?>',
            status     : true,
            cookie     : true,
            xfbml      : true
        });
        FB.getLoginStatus(function(response) {
            if (!response.authResponse) {
                window.location = "<?php echo $this->websiteUrl;?>/plugin/fbgraph/run/register/"
            } else {
                if(response.authResponse.userID == '<?php echo $this->accountName;?>')
                {
                    $.post('plugin/fbgraph/run/addToken/', { 'token' : response.authResponse.accessToken}, function(){})
                }
            }
        });
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    };

</script>
