<?php if(isset($this->goToAlbum)):?>
    <a href="<?php echo $this->websiteUrl;?>plugin/fbgraph/run/backToAlbums/?redirectUri=<?php echo $this->pageUri;?>">Go to albums</a>
<?php endif;?>

<ul class="img_gallery">
    <?php foreach($this->latestImages as $image):?>
    <li class="gallery_image">
        <a class="gall" href="<?php echo $image['src_big'];?>" rel="<?php echo $this->timestamp;?>">
            <img style="width:<?php echo $this->size;?>px;height:<?php echo $this->size;?>px;"  src="<?php echo $image['src_small'];?>" alt="<?php echo $image['caption'];?>">
        </a>
    </li>
    <?php endforeach;?>
</ul>
<script type="text/javascript">
    $("a[rel=<?php echo $this->timestamp;?>]").fancybox({
        'transitionIn'		: 'none',
        'transitionOut'		: 'none',
        'titlePosition' 	: 'over'
    });
</script>