<?php if(is_array($this->albums)):?>
    <ul class="img_gallery">
         <?php foreach($this->albums[0]['fql_result_set'] as $key => $albumData) :?>
            <li class='gallery_image'>
                <a class="gall" href="<?php echo $this->websiteUrl;?>plugin/fbgraph/run/showAlbum/?aid=<?php echo $albumData['aid'];?>&redirectUri=<?php echo $this->pageUri;?>">
                    <img style="width:<?php echo $this->size;?>px;height:<?php echo $this->size;?>px;"  src="<?php echo $this->albums[1]['fql_result_set'][$key]['src'];?>">
                </a>
            </li>
        <?php endforeach;?>
    </ul>
<?php endif;?>

