<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
		FB.init({
		  appId      : '<?php echo $this->appId;?>', 
		  status     : true, 
		  cookie     : true, 
		  xfbml      : true
		});
</script>
<script>
	FB.getLoginStatus(function(response) {
	   FB.api('/me',function(response){
		   allowedUser = false;
			<?php foreach($this->idList as $id):?>
				if(response.id == '<?php echo $id;?>'){
					allowedUser = true;
				} else {

				}
			<?php endforeach;?>
			if(!allowedUser){
				$("#status").html('Register into our groupe first. <a href="http://www.facebook.com/groups/345090552227634/">Join us</a>')
			} else {
				$("#status").html('Download seotoaster at . <a href="https://www.seotoaster.com/">Download</a>')
			}
		})
	 });
</script>
<div id="status"></div>
