<?php  
$this->headLink()->appendStylesheet($this->websiteUrl . 'system/css/reset.css');
$this->headLink()->appendStylesheet($this->websiteUrl . 'system/css/grid.css');
$this->headLink()->appendStylesheet($this->websiteUrl . 'system/css/seotoaster.css');
echo $this->headLink();
    ?>  
<style>
	.labelPadding {
		margin-top: 5px;
	}
</style>
<div class="container_12 seotoaster">	
	<div class="header" style="overflow:hidden; ">
		<div class="closebutton">
			<span class="help">Help</span>
			<span class="close" onclick="window.parent.jQuery('.__tpopup').dialog('close');"></span>
		</div>
		Facebook app config
	</div>
        <form  action="<?php echo $this->websiteUrl;?>plugin/fbgraph/run/saveConfig/" method="post" >
			<label class="grid_4 labelPadding">App Id</label><input class="grid_8 alpha" type="text" name="app_id" value="<?php echo $this->appData['app_id'];?>">
			<label class="grid_4 labelPadding">App secret</label><input class="grid_8 alpha" type="text" name="app_secret" value="<?php echo $this->appData['app_secret'];?>">
			<label class="grid_4 labelPadding">User ID</label>
			<input class="grid_8 alpha" name="userId" type="text" value="<?php echo $this->appData['user_id'];?>">
            <label class="grid_4 labelPadding"><?php echo $this->translator->translate('Language');?>:</label>
            <select class="grid_8 alpha omega" id="selectFbLanguage" style="width:63%;" name="selectFbLanguage">
                <option value="en_US"<?php echo ($this->fbLanguage=='en_US'?' selected="selected"':''); ?>><?php echo $this->translator->translate('English');?></option>
                <option value="fr_FR"<?php echo ($this->fbLanguage=='fr_FR'?' selected="selected"':''); ?>><?php echo $this->translator->translate('French');?></option>
                <option value="de_DE"<?php echo ($this->fbLanguage=='de_DE'?' selected="selected"':''); ?>><?php echo $this->translator->translate('German');?></option>
                <option value="es_LA"<?php echo ($this->fbLanguage=='es_LA'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Spanish');?></option>
                <option value="ja_JP"<?php echo ($this->fbLanguage=='ja_JP'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Japanese');?></option>
                <option value="pl_PL"<?php echo ($this->fbLanguage=='pl_PL'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Polish');?></option>
                <option value="pt_BR"<?php echo ($this->fbLanguage=='pt_BR'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Brazil');?></option>
                <option value="ro_RO"<?php echo ($this->fbLanguage=='ro_RO'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Romanian');?></option>
                <option value="ru_RU"<?php echo ($this->fbLanguage=='ru_RU'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Russian');?></option>
                <option value="sk_SK"<?php echo ($this->fbLanguage=='sk_SK'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Slovak');?></option>
                <option value="sv_SE"<?php echo ($this->fbLanguage=='sv_SE'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Swedish');?></option>
                <option value="it_IT"<?php echo ($this->fbLanguage=='it_IT'?' selected="selected"':''); ?>><?php echo $this->translator->translate('Italian');?></option>

            </select>
            <label class="grid_4 labelPadding">Redirect URI</label><input class="grid_8 alpha" type="text" name="uri" value="<?php echo $this->appData['redirectUri'];?>">
			<input type="submit" value="<?php echo 'done';?>" style="margin: 10px;"/>
        </form>
</div>