<?php
$this->headLink()->appendStylesheet($this->websiteUrl."system/css/seotoaster.css" );
$this->headLink()->appendStylesheet($this->websiteUrl."system/css/reset.css" );
$this->headLink()->appendStylesheet($this->websiteUrl."/system/css/grid.css" );
$this->headLink()->appendStylesheet($this->websiteUrl."plugins/fbcomments/system/layout/css/fbcomments.css" );
echo $this->headLink();
$this->headScript()->appendFile($this->websiteUrl."system/js/external/jquery/jquery.js" );
echo $this->headScript();
?>
<script>
    $(document).ready(function(){
        $('.closebutton').click(function() {
                top.$('.__tpopup').dialog('close');
        });
        
        $('#fbcommentsForm').submit(function() {
         
       var urlAction = $("#websiteUrl").val()+"plugin/fbcomments/run/saveConfig/";
       $.ajax({
            type: "POST",
            url: urlAction,
            dataType: "text",
            data: {
                         
                adminApi:$('input[name=adminApi]').val(),
                fbLanguage:$('#selectFbLanguage').val()            
            },
            success: function(msg){
                
                top.location.reload();
                
            },
            error: function(msgErr){
                
            }
            
            
            });
               
            return false;
        });
        
     });
</script>

<div class="seotoaster container_12 w600 h170 rounded8px"> 
   <div class="header mb20px"><?php echo $this->translator->translate('Fbcomments Config');?></div>
        <div class="closebutton">
            <span class="close"><?php echo $this->translator->translate('Close');?></span>
        </div>
    
    <form id="fbcommentsForm" class="pluginform" method="" name="fbcommentsForm" action="">
			<label class="grid_3"><?php echo $this->translator->translate('Fb Admin Key');?>:</label>
            <input class="grid_9 alpha" type="text" name="adminApi" value="<?php echo $this->adminApi;?>" />

            <div class="clear"></div>
			<input id="websiteUrl" value="<?php echo $this->websiteUrl; ?>" type="hidden" />
            <input class="saveFbcomments" type="submit" name="saveFbcomments" value="<?php echo $this->translator->translate('Save');?>" />
    </form>
       
</div>
