<?php if(is_array($this->lastEvent)):?>
        <?php foreach($this->lastEvent as $event):
        $date = date('jS M Y',strtotime($event['start_time']));
        $endDate = date('jS M Y',strtotime($event['end_time']));
        if(strtotime($event['end_time']) - strtotime($event['start_time']) > 3600*24){
            $date = $date.' - '.$endDate;
        }
        if(isset($event['end_time']) && $event['start_time'] != $event['end_time']){
            $time    = gmdate('h:i A',strtotime($event['start_time'])+60*60*(date('O',strtotime($event['start_time']))+1));
            $timeEnd = gmdate('h:i A',strtotime($event['end_time'])+60*60*(date('O',strtotime($event['start_time']))+1));
            $timeStr = '<br>'.$time.' to '.$timeEnd.'<br> London time';//'.substr(date('O',strtotime($event['start_time'])),0,3);
        } else {
            $time    = explode('T', $event['start_time']);
            isset($time[1]) ? $timeStr = substr($time[1],0,5) : $timeStr = '';
        }
            if(strtotime($event['start_time']) >= strtotime(date('F j, Y, g:i a'))){
            ?>
                <p style="text-align: center;"><span style="font-size: medium;">
                    <a target="_blank" title="<?php echo $event['name'];?>" href="http://www.facebook.com/events/<?php echo $event['id'];?>/"><strong><?php echo $event['name'];?></strong></a></span></br>
                    <span>Date: <?php if(isset($date)){ echo $date;};?><?php if(isset($timeStr)){ echo '  '.$timeStr;};?></span>
                </p>
            <?php
            }
        ?>
        <?php endforeach;?>
    <?php endif;?>
