<?php if(!$this->currentUser):?>
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
		FB.init({
		  appId      : '<?php echo $this->appId;?>', // App ID
		  status     : true, // check login status
		  cookie     : true, // enable cookies to allow the server to access the session
		  xfbml      : true  // parse XFBML
		});
</script>
<script>
	function loginWithFb(){
		FB.api('/me', function(response) {
			 $.post('plugin/fbgraph/run/login/', { 'email' : response.email, 'fullname' : response.name, 'fbid':response.id}, function(data){location.reload();});
		});
	}
FB.getLoginStatus(function(response) {
   if (response.authResponse) {
	      if(response.status == 'connected'){
			 $("#loginWithFb").show().css({'display' : 'block'});
		  }
		 else if(response.status == 'not_authorized'){
			  $("#registerWithFb").show().css({'display' : 'block'});
		  }
   }
   else {
	 $("#registerWithFb").show().css({'display' : 'block'});
   }
 });
</script>
<div id="loginWithFb" style="display: none;" onclick="loginWithFb();"><img style="cursor: pointer;" src="<?php echo $this->websiteUrl;?>plugins/fbgraph/system/layout/images/FBlogin.jpg"/></div>
<div id="registerWithFb" style="display: none;"><iframe src="https://www.facebook.com/plugins/registration.php?client_id=<?php echo $this->appId;?>&
	  redirect_uri=<?php echo urlencode($this->callbackUrl);?>&
	  fields = name,email"
        scrolling="auto"
        frameborder="no"
        style="border:none"
        allowTransparency="true"
        width="100%"
        height="330">
	</iframe>
</div>
<?php endif;?>
