<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<?php echo $this->appId;?>";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

     <div class="fb-comments" data-href="<?php echo $this->pageUrl;?>" data-num-posts="<?php echo $this->fbquantity; ?>" data-width="<?php echo $this->fbwidth;?>"></div>

    <?php if (isset($this->likeButton) && $this->likeButton == '1') :?>
         <div class="fb-like mt10px" data-href="<?php echo $this->pageUrl;?>" <?php if((isset($this->sendButton) && $this->sendButton == '1')) echo 'data-send="true"';?> data-width="240" data-font="arial"></div>
    <?php endif;?>
    <?php if ($this->errorFb != '1') :?>
    <div class="fbcomments" style="display:none;">

    <?php if (isset($this->comments) && !empty($this->comments)) :?>
    <?php foreach ($this->comments as $key => $comment):?>


            <?php $profile = $this->profile[$comment['fromid']];?>
    <div style="overflow:hidden; margin: 5px;">
        <div class="profile">
            <a href="<?php echo $profile['url']?>" target="_blank"><img src="<?php echo $profile['pic_square'];?>" align=left /></a>
            <a href="<?php echo $profile['url']?>" target="_blank"> <?php echo $profile['name']?></a>
                <div class=postText><?php echo htmlspecialchars($comment['text'])?>
                    <div class="time"><?php echo date('F j, Y, g:i a',$comment['time']);?>
                    </div>
                </div>
            <?php if (!empty($this->repliesByTarget) && isset($this->repliesByTarget[$comment['post_fbid']])) :?>
                    <?php foreach ($this->repliesByTarget[$comment['post_fbid']] as $key=>$value):?>
                    <div class="profile mleft20px">
                        <a href="<?php echo $this->profile[$this->repliesByTarget[$comment['post_fbid']][$key]['fromid']]['url'];?>" target="_blank"></a>
                        <a href="<?php echo $this->profile[$this->repliesByTarget[$comment['post_fbid']][$key]['fromid']]['url'];?>" target="_blank"> <?php echo $this->profile[$this->repliesByTarget[$comment['post_fbid']][$key]['fromid']]['name']?><img src="<?php echo $this->profile[$this->repliesByTarget[$comment['post_fbid']][$key]['fromid']]['pic_square'];?>" align=left /></a>
                        <div class=postText><?php echo htmlspecialchars($this->repliesByTarget[$comment['post_fbid']][$key]['text'])?>
                            <div class="time"><?php echo date('F j, Y, g:i a',$this->repliesByTarget[$comment['post_fbid']][$key]['time'])?>
                        </div>
                        </div>
                    </div>
                    <?php endforeach?>
            <?php endif;?>
        </div>
    </div>
     <?php endforeach?>
    <?php endif;?>
    </div>
    <?php endif;?>
    <!--Plugin fbcomments block End-->