<div id="status"><?php echo $this->status;?></div>
<script type="text/javascript">
    $("a[rel=gall]").fancybox({
        'transitionIn'		: 'none',
        'transitionOut'		: 'none',
        'titlePosition' 	: 'over'
    });
</script>
