<?php
$this->headLink()->appendStylesheet($this->websiteUrl."plugins/fbgraph/system/layout/css/fbmeta.css" );

?>
<!--Plugin fbmeta block Start-->
<div>
	<a name="fb_share" type="button_count" share_url="<?php echo $this->pageUrl; ?>" href="http://www.facebook.com/sharer.php"></a>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>
<!--Plugin fbmeta block End-->