<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
		FB.init({
		  appId      : '<?php echo $this->appId;?>', 
		  status     : true, 
		  cookie     : true, 
		  xfbml      : true
		});
</script>
<script>
FB.getLoginStatus(function(response) {
	FB.api('/me/likes/305239023366',function(response){
		if(response.data !== undefined && response.data[0] !== undefined){
			$("#status").html('Download seotoaster at . <a href="https://www.seotoaster.com/">Download</a>')
		}
	})		
 });
 FB.Event.subscribe('edge.create',
    function(response) {
        $("#status").html('Download seotoaster at . <a href="https://www.seotoaster.com/">Download</a>')
    }
);
</script>
<div class="fb-like" data-href="http://facebook.com/seotoaster" data-send="true" data-width="50" data-show-faces="false"></div>
<div id="status"></div>
